/*Reset de Margenes y Padding*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*Fondo/Cuerpo Principal del Index*/
body {
    display: flex;
    justify-content: center; 
    align-items: center;
    min-height: 100vh;
    background: #162938;
    background-size: cover;
    background-position: center;
}

/*Diseño del Menu Principal*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

/*Diseño del Logo*/
.logo{
    font-size: 2em;
    color: #fff;
    user-select: none;
}

/*Diseño de la Navegacion*/
.navigation a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}

/*Diseño de la Linea de Navegacion*/
.navigation a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

/*Diseño de la Linea de Navegacion al pasar el cursor por encima*/
.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

/*Diseño del Boton de Inicio de Sesion*/
.navigation .btmLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;

}

/*Diseño del Boton de Inicio de Sesion al pasar el cursor por encima*/
.navigation .btmLogin-popup:hover{
    background: #fff;
    color: #162938;
}

/* Contenedor principal para el formulario de login y registro */
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: height .2s ease;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transition: height .2s ease;
    -moz-transition: height .2s ease;
    -ms-transition: height .2s ease;
    -o-transition: height .2s ease;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.wrapper.active-popup{
    transform: scale(1);
}

/* Ajuste de altura para el formulario de registro */
.wrapper.active{
    height: 520px;
}

/* Estilo general para los formularios */
.wrapper .form-box{
    width: 100%;
    padding: 40px;
}

.wrapper .icon-close{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}

/* Animación para mostrar el formulario de login */
.wrapper .form-box.Login{
    transition: transform .18s ease;
    transform: translateX(0);
}

/* Animación para ocultar el formulario de login */
.wrapper.active .form-box.Login{
    transition: none;
    transform: translateX(-400px);
}

/* Posicionamiento inicial del formulario de registro */
.wrapper .form-box.SingUp{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

/* Animación para mostrar el formulario de registro */
.wrapper.active .form-box.SingUp{
    transition: transform .18s ease;
    transform: translateX(0);
}

/* Estilo para el título del formulario */
.form-box h1{
    font-size: 2em;
    color: #fff;
    text-align: center;
}

/* Contenedor para cada campo de entrada */
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #fff;
    margin: 30px 0;
}

/* Estilo para las etiquetas de los campos */
.input-box label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

/* Animación para las etiquetas al enfocar o llenar el campo */
.input-box input:focus~label,
.input-box input:valid~label{
    top: -5px;
}

/* Estilo para los campos de entrada */
.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

/* Estilo para los iconos dentro de los campos */
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #fff;
    line-height: 57px;
}

/* Estilo para el botón de envío */
.btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #162938;
    font-weight: 500;
}

/* Efecto hover para el botón de envío */
.btn:hover{
    background: transparent;
    color: #fff;
    border: 2px solid #fff;
}

/* Estilo para el texto de cambio entre login y registro */
.login-register{
    display: flex;
    text-align: center;
    flex-direction: column;
    font-size: .9em;
    font-weight: 500;
    color: #fff;
    margin: 25px 0 10px;
}   

/* Estilo para el enlace de cambio entre login y registro */
.login-register a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

/* Efecto hover para el enlace de cambio */
.login-register a:hover{
    text-decoration: underline;
}
